.register-main {
	background: linear-gradient(
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		),
		url("../../assets/greece-by-constantinos-kollias.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.register-wrapper {
	width: 80%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.register-main {
}
.register-btn {
	background-color: var(--color-sucess-2);
}
