.header {
}
.header-titles-wrapper {
	position: relative;
	top: 75px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-title-primary {
	text-transform: uppercase;
	font-family: var(--font-2);
	font-size: 6rem;
	background: linear-gradient(to bottom, #999 0%, #000 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.header-title-secondary {
	font-size: 1.5rem;
	font-family: var(--font-3);
	color: var(--color-grey-400);
}
.header-img {
	height: 400px;
	width: 100%;
	object-fit: cover;
}
